#playstation-now {
  background-color: rgb(22 28 59);
}

#playstation-plus {
  background-color: rgb(190 188 187);
}

#spotlight {
  background: url("/img/jumbo-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding-top: 25%;
}

#it-takes-two {
  background: url("/img/it-takes-two-hero-banner-desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#sie-logo {
  width: 200px;
}

#playstation-4 > div > div > .row > div > button {
  align-self: flex-end;
}

#social-media > .row > img {
  height: 125px;
  width: auto;
}

.navbar > div > div:last-of-type > img {
  height: 25px;
}

.country-region-selector {
  display: flex;
}
.country-region-selector > .logo {
  width: 20px;
  margin: 5px;
}

.country-region-selector > p {
  margin: 0;
}

header > div:first-of-type {
  height: 30px;
  align-content: center;
  text-align: right;
}

header > div:first-of-type > img {
  height: 12px;
  margin-right: 6px;
}

footer {
  background-color: rgb(0 68 156);
  color: white;
}
